version: '3.8'

services:
  backend:
    build: ./backend
    container_name: fitnotes-backend
    volumes:
      - ./data:/data
    restart: unless-stopped
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: fitnotes-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: unless-stopped
